.table-container {
  margin-top: 20px;
}

.custom-table {
  width: 100%;
  border-collapse: separate; 
  border-spacing: 0; /* removes gaps */
  border: 1px solid #c4c1c1; /* strong outer border */
  border-radius: 8px;
  overflow: hidden;
  font-size: 14px;
  background-color: white;
}


.custom-table th,
.custom-table td {
  border: 1px solid #f0eded;  /* inner lighter border */
  padding: 10px 12px;
  text-align:left;
}

.custom-table th {
  background-color: #f9f9f9;
  font-weight: 600;
  color: #555;
  
}

.custom-table td {
  font-weight: 400;
  color: #333;
  
}


