.log-right{
    background-color: #1784A2;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-img{
    width: 350px;
}
.sign-log img{
    width: 178px;
}
.sign-log h2{
    font-size: 30px;
    font-weight: 600;
    color: #353535;
}
.sign-log p{
    font-size: 12px;
    font-weight: 500;
    color: #555555;
}
.login-box label{
    font-size: 16px;
    font-weight: 500;
}
.create-btn{
    width: 265px;
    height: 51px;
    color: #fff;
    background-color: #1784A2 !important;
    border-radius: 10px !important;
}
.create-btn1{
    width: 265px;
    height: 51px;
    color: #fff;
    background-color: #1784A2 !important;
    border-radius: 10px !important;
}
.css-1c1kq07{
    margin: auto !important;
}
.timer{
    padding: 10px 23px;
}
.timer p{
    font-size: 12px;
    font-size: 500;
    color: #555555;
}
.timer a{
    font-size: 12px;
    font-size: 500;
    color: #555555;
}
.resend{
    text-decoration: underline;
    cursor: pointer;
}
.forgetpass{
    font-size: 12px;
    font-weight: 500;
    color: #555555;
    text-decoration: underline;
    padding-top: 5px;
    cursor: pointer;
}